* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*--------BODY-------*/

body {
    font-family: 'Roboto', sans-serif;
}

.grid-contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr auto auto;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
}

/*-------HEADER/NAV-------*/
/*
.header-contenedor {
    grid-area: header;
    background-color: #A6B1E1;
    display: flex;
}

.header-contenedor img {
    width: 80px;
    height: auto;
    margin-left: 20px;
}

.header-contenedor nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.header-contenedor nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-contenedor nav ul li {
    margin-left: 30px;
    margin-right: 30px;
}

.header-contenedor nav ul li a {
    text-decoration: none;
    color: #F4EEFF;
    font-weight: lighter;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #424874;
}

.header-contenedor nav ul li a:hover {
    color: #424874;
    text-shadow: none;
}
*/
.color-menu {
    background-color:#DCD6F7;
    object-fit: cover;
}

.d-i:hover{
    background-color: #424874;
    color: #DCD6F7;
}

.d-i:hover{
color:#DCD6F7;
}
.bg-color {
    background-color: #A6B1E1;
}
/*--------MAIN-------*/
.main-contenedor {
    grid-area: main;
    background-color: #DCD6F7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

/*--------SECTION HERO-------*/
.hero {
    width: 100%;
    height: 120vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.500)), url(../Multimedia/biblioteca.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #F4EEFF;
    background-attachment: fixed;

}

.hero h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 90px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 10px;
}

.hero h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
}

.hero .buscador {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}
.hero div input {
    width: 40%;
    height: 100%;
    border-radius: 5px;
    outline: none;
    color:#A6B1E1;
    background-color: #F4EEFF;
   
}

.hero div input:hover {
    border-color:#F4EEFF;
}
.hero div button {
    background-color: #F4EEFF;
    width: 8%;
    height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    font-family:'Roboto', sans-serif;
    font-weight: bolder;
    border-radius: 5px;

}

/*--------SECTION NOVEDADES-------*/
.novedades {
    width: 100%;
}

.novedades h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 50px;
    color: #424874;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    text-decoration: none;
}

.fotos-novedades {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.novedades .fotos-novedades div img {
    width: 100%;
    height: 100%;
    margin: 0px 15px 15px 15px;
    padding: 15px;
    object-fit: cover;
    border: none;
    border-radius: 25px;
}

.novedades .fotos-novedades div {
    text-align: center;
    border: #A6B1E1 solid 1px;
    padding-bottom: 2.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 10px;

    background-color: #F4EEFF;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.50);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.50);
    border-radius: 10px;
}


.novedades .fotos-novedades div h3 {
    margin: 10px;
}

.fotos-novedades div a {
    font-weight: lighter;
    font-size: 16px;
    color: #F4EEFF;
    background-color: #A6B1E1;
    text-decoration: none;
    padding: 8px;
    margin-top: 15px;
    border-radius: 40px;
    border: #A6B1E1 solid 1px
}

.fotos-libros img {
    border: #A6B1E1 solid 1px;
}

/*---------SECTION COMPRA-VENTA---------*/

.compra-venta {
    font-family: 'Rubik', sans-serif;
    width: 100%;
    height: 50vh;
   background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:#424874;
    background-attachment: fixed;
    margin-top: 50px;
}

.compra-venta h2 {
    font-size: 55px;
    font-weight: bold;
    text-align: center;
}

.compra-venta p {
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.compra-venta a {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #424874;
    background-color: #A6B1E1;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 15px;
    border: #F4EEFF solid 2px;
    transition: all 2s;

}

.compra-venta a:hover {
    color: #F4EEFF;
    background-color: #424874;
    transform: scale(1.3);
    transition: all 2s;

}

/*--------------FOOTER-----------------  */

.footer-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #A6B1E1;
    grid-area: footer;
}

.footer-contenedor .logo {
    width: 40px;
    height: auto;
    margin-left: 20px;
}

.footer-contenedor div {
    margin-right: 30px;
}
.footer-contenedor div img {
    width: 50px;
    height: auto;

}

.footer-contenedor ul {
    list-style: none;
}

.footer-contenedor ul li a {
    text-decoration: none;
    color: #F4EEFF;
    font-weight: lighter;
    text-transform: none;
    text-shadow: 2px 2px 2px #424874;
}

.footer-contenedor ul li a:hover {
    color: #424874;
    text-shadow: none;
}


/*--------------------------------ACERCA---------------------------------*/

.seccion-presentacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120vh
}

.seccion-presentacion div {
    text-align: center;
    color: #424874;
    object-fit: cover;
}

.seccion-presentacion div h1 {
    font-size: 40px;
    font-weight: lighter;
    padding-bottom: 50px;
}

.seccion-presentacion div p {
    text-align: justify;
    font-weight: lighter;
    line-height: 40px;
    padding: 0px 130px;
    font-size: 20px;
    letter-spacing: normal;
}

.seccion-presentacion img {
    padding: 70px 70px 70px 0px;
    width: 100%;
    height: 110vh;
    object-fit: cover;
}

/*----------------------------CATEGORIAS 2.0-----------------------*/
.seccion-categoria{
    width: 100%;
    height: auto;  
}
.todas-categorias {
    width: 100%;
    height: auto;
}

.seccion-categoria h1 {
    text-align: center;
    color: #424874;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 30px;
    padding-top: 40px;
}

.todas-categorias {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: auto;
    height: 150vh;
    margin-bottom: 30px;
}

.todas-categorias .fotos-libros {
    background-color: #F4EEFF;
    width: 100%;
    height: 110px;
}

.todas-categorias a {
    width: 80%;
    text-decoration: none;
    display: flex;
}

.todas-categorias a div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #F4EEFF;
}

.comics {
    background-image: linear-gradient(rgba(0, 0, 0, 0.200), rgba(0, 0, 0, 0.200)), url(../Multimedia/comics.jpg);
    background-size: 100% ;
    background-repeat: no-repeat;
    object-fit: contain;
}

.manga {
    background-image: linear-gradient(rgba(0, 0, 0, 0.200), rgba(0, 0, 0, 0.200)), url(../Multimedia/manga.jpg);
    background-size: 100% ;
    background-repeat: no-repeat;
    object-fit: contain;
    background-position: center;
}

.extranjera {
    background-image: linear-gradient(rgba(0, 0, 0, 0.200), rgba(0, 0, 0, 0.200)), url(../Multimedia/libro-1.jpg);
    background-size: 100% ;
    background-repeat: no-repeat;
    object-fit: contain;
    background-position: center;
}

.argentina {
    background-image: linear-gradient(rgba(0, 0, 0, 0.200), rgba(0, 0, 0, 0.200)), url(../Multimedia/argentina.jpg);
    background-size: 100% ;
    background-repeat: no-repeat;
    object-fit: contain;
    background-position: center;
}

.latinoamericana {
    background-image: linear-gradient(rgba(0, 0, 0, 0.200), rgba(0, 0, 0, 0.200)), url(../Multimedia/latinoamericana.jpg);
    background-size: 100% ;
    background-repeat: no-repeat;
    object-fit: contain;
    background-position: center;
}

.idiomas {
    background-image: linear-gradient(rgba(0, 0, 0, 0.200), rgba(0, 0, 0, 0.200)), url(../Multimedia/3xm0oiaj8pb71.webp);
    background-size: 100% ;
    background-repeat: no-repeat;
    object-fit: contain;
    background-position: center;
}

.filosofia {
    background-image: linear-gradient(rgba(0, 0, 0, 0.200), rgba(0, 0, 0, 0.200)), url(../Multimedia/filo.jpg);
    background-size: 100% ;
    background-repeat: no-repeat;
    object-fit: contain;
    background-position:14% 25%;

}
.extranjera:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.500)), url(../Multimedia/libro-1.jpg);
}
.manga:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.500)), url(../Multimedia/manga.jpg);
}
.comics:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.500)), url(../Multimedia/comics.jpg);
}
.argentina:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.500)), url(../Multimedia/argentina.jpg);
}
.latinoamericana:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.500)), url(../Multimedia/latinoamericana.jpg);
}
.idiomas:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.500)), url(../Multimedia/3xm0oiaj8pb71.webp);
}
.filosofia:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.500)), url(../Multimedia/filo.jpg);

}
/*--------CONTACTO-------*/
/*
.contacto-contenedor {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.contacto-contenedor div h1 {
    font-size: 30px;
    font-weight: lighter;
    text-decoration: underline;
    color: #424874;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.contacto-contenedor div p {
    font-size: 20px;
    padding: 10px;
}

.main-contenedor {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
}

.contacto-contenedor div iframe {
    margin: 10px;
}
*/


.contacto{
  background-color:#DCD6F7;
    width: 100%;
}

.enviar{
    width: 25%;
    background-color:#DCD6F7;
    border: #424874 2px solid;
    color: #424874;
    margin-left: 37%
}
.enviar:hover{
    background-color: #A6B1E1;
    border-color: #424874;
    color: #DCD6F7;
}

.contacto h1 {
    text-align: center;
    color: #424874;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 30px;
    padding-top: 40px;
}
ion-icon {
    color:#424874;
  }


/*------------------------LITERATURA EXTRANJERA-----------------------*/


.fotos-extranjero div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.fotos-extranjero img {
    max-width: 250px;
    height: 300px;
    object-fit: cover;
    margin: 20px
}

.fotos-extranjero div .fotos-libros {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fotos-extranjero div .fotos-libros a {
    font-weight: lighter;
    font-size: 16px;
    color: #424874;
    background-color: #A6B1E1;
    text-decoration: none;
    padding: 8px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 40px;
    border: #424874 solid 1px
}

.fotos-extranjero h1 {
    font-weight: lighter;
    font-size: 40px;
    color: #424874;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

/*------------------------------------------MEDIA QUERIES-----------------------------------------*/

@media screen and (max-width:900px) {
    .seccion-presentacion div h1 {
        font-size: 30px;
        padding-bottom: 30px;
    }

    .seccion-presentacion div p {
        line-height: 30px;
        padding: 0px 90px;
        font-size: 15px;
    }
}

@media screen and (max-width:800px) {

    .grid-contenedor {
        grid-template-rows: 0.2fr 4.5fr 0.2fr;
    }

    .fotos-novedades {
        flex-direction: column;
    }

    .novedades .fotos-libros {
        width: 100%;
        margin-bottom: 10px;
        padding: 0;
        margin: 0;
    }

    .fotos-libros>img {
        width: 500px;
        object-fit: cover;
    }

    .fotos-extranjero {
        width: 100%;
        height: auto;
    }

    .fotos-extranjero img {
        max-width: 250px;
        height: 300px;
        object-fit: contain;
        margin: 20px;
        border: none;
    }
}

@media screen and (max-width:750px) {

    .seccion-presentacion div h1 {
        font-size: 25px;
        padding-bottom: 30px;
    }

    .seccion-presentacion div p {
        line-height: 20px;
        padding: 0px 50px;
        font-size: 12px;
    }
}

@media screen and (max-width:650px) {
    .header-contenedor nav ul li {
        margin-left: 10px;
        margin-right: 10px;
    }

    .hero h1 {
        font-size: 50px;
    }

    .hero h2 {
        font-size: 30px;
    }

    .hero div input {
        width: 400px;
        height: 25px;
    }

    .hero div button {
        height: 25px;
    }

    .novedades h2 {
        font-size: 50px;
        margin-bottom: 30px;
        margin-top: 40px;
    }

    .compra-venta h2 {
        font-size: 35px;
    }

    .compra-venta p {
        font-size: 15px;
        padding: 10px;
    }

    .compra-venta a {
        font-size: 30px;
    }

    /*---------Media/Acerca*-----------------*/


    .seccion-presentacion {
        flex-direction: column;
        height: 180vh;
    }

    .seccion-presentacion img {
        padding: 5vh;
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    .seccion-presentacion div h1 {
        font-size: 40px;
        padding: 5vh;
    }

    .seccion-presentacion div p {
        line-height: 5vh;
        padding: 0px 10vh;
        font-size: 20px;
    }
}

@media screen and (max-width:500px) {

    /*----------HEADER------------*/
    .header-contenedor nav {
        flex-direction: column;
        object-fit: cover;
        padding: 0px;
    }

    .header-contenedor img {
        margin: 15px;
        width: 150px;
        height: auto;
    }

    .header-contenedor nav ul {
        background-color: #DCD6F7;
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding: 10px;
        border-bottom: #424874 3px solid;
    }

    .header-contenedor nav ul li a {
        color: #424874;
        text-shadow: none;
    }

    .header-contenedor nav ul li a:hover {
        text-shadow: 2px 2px 2px #424874;
        color: #F4EEFF;
    }

    .grid-contenedor {
        grid-template-rows: 0.1fr auto 0.2fr;
    }
}

@media screen and (max-width:450px) {
    .hero div input {
        display: none;
    }

    .hero div button {
        display: none;
    }

    .novedades h2 {
        font-size: 40px;
        margin-bottom: 20px;
        margin-top: 30px;
    }

    .compra-venta h2 {
        font-size: 30px;
    }

    .compra-venta p {
        font-size: 15px;
        padding: 10px;
    }

    .compra-venta a {
        font-size: 25px;
    }

    /*------------MEDIA-ACERCA----------*/
    .seccion-presentacion div h1 {
        font-size: 20px;
        padding-top: 10vh;
    }

    .seccion-presentacion div p {
        font-size: 15px;
    }
/*
    /*--------------MEDIA-CONTACTO-----------*/
    /*
    .contacto-contenedor div h1 {
        font-size: 20px;
    }

    .contacto-contenedor div p {
        font-size: 15px;
        padding: 10px;
    }

    .contacto-contenedor div iframe {
        width: 60vh;
        height: 60vh;
    }
*/
}

@media screen and (max-width:400px) {

    .header-contenedor nav ul {
        flex-direction: column;
    }

    .header-contenedor nav ul li {
        font-size: 15px;
        padding: 5px;
    }

    .compra-venta {
        width: 100%;
        height: 50vh;
        margin-top: 30px;
    }

    .compra-venta h2 {
        font-size: 25px;
    }

    .hero h1 {
        font-size: 35px;
    }

    .hero h2 {
        font-size: 20px;
    }

    .hero {
        width: 100%;
        height: 40vh;
    }

    /*---------------MEDIA-LITERATURA EXTRANJERA-----------*/

    .fotos-extranjero h1 {
        text-align: center;
        font-size: 30px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .fotos-extranjero div {
        display: flex;
        flex-direction: column;
    }

    .seccion-categoria ul li {
        padding: 10px;
    }
}