.main-contenedor {
    background-color: nth($colores, 1 );
  
    .seccion-presentacion {
        width: 80%;
        height: 120vh;
       
        /*background-color: nth($colores, 1);*/
        .centro-presentacion {
            @include flex (flex, center, center);
            height: 60%;
            background-color: nth($colores , 3);
            margin-top: 30vh;
            margin-bottom: 30vh;
            

            
            img {
                width: 300px;
                height: 300px;
                margin: 50px;
                border: 10px nth($colores, 4 ) solid;
            }

            div {
                @include flex (flex, space-between, center);
                flex-direction: column;
                color: nth($colores , 1);
                background-color: nth($colores, 3);
                width: 60%;
                height: auto;
                margin-left: 45px;
                margin-right: 95px;
            

                p {
                    text-align: justify;
                    font-weight: lighter;
                    line-height: 30px;
                    font-size: 20px;
                    letter-spacing: normal;
    
                }

                h1 {
                    font-size: 35px;
                    font-weight: bold;
                    padding-bottom: 30px;
                    border-top: 20px;
                }
                a { font-weight: lighter;
                    font-size: 16px;
                    color: nth($colores , 3);
                    background-color: nth($colores , 2);
                    text-decoration: none;
                    padding: 8px 12px 8px 12px;
                    margin-top: 15px;
                    border-radius: 5px;
                    border: nth($colores , 2) solid 1px;
                
                    &:hover{
                        border: nth($colores , 3) solid 2px;
                        color: nth($colores , 3);
                        font-weight: bolder;
                    }
                }

            }

        }
    }
}