.main-contenedor {
    .seccion-categoria {
        width: 100%;
        height: auto;

        h1 {
            text-align: center;
            color: #424874;
            font-size: 40px;
            margin-bottom: 30px;
            margin-top: 60px;
            padding-top: 100px;
        }

        .todas-categorias { 
            width: 100%;
            height: auto;
            @include flex (flex,space-evenly,center);
            flex-direction: column;
            width: auto;
            height: 150vh;
            margin-bottom: 30px;

            a {
                width: 80%;
                text-decoration: none;
                display: flex;
                .extranjera {
                    background-image: linear-gradient(rgba(0, 0, 0, 0.200), rgba(0, 0, 0, 0.200)), url(../Multimedia/libro-1.jpg);
                    background-size: 100% ;
                    background-repeat: no-repeat;
                    object-fit: contain;
                    background-position: center;
                    &:hover{
                        background-image: linear-gradient(rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.500)), url(../Multimedia/libro-1.jpg);
                    }
                }
                    
                .fotos-libros{
                    background-color: #F4EEFF;
                    width: 100%;
                    height: 110px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 30px;
                    color: #F4EEFF;

                }
            }

            a {
                width: 80%;
                text-decoration: none;
                display: flex;
                .latinoamericana {
                    background-image: linear-gradient(rgba(0, 0, 0, 0.200), rgba(0, 0, 0, 0.200)), url(../Multimedia/latinoamericana.jpg);
                    background-size: 100% ;
                    background-repeat: no-repeat;
                    object-fit: contain;
                    background-position: center;
                    &:hover{
                        background-image: linear-gradient(rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.500)), url(../Multimedia/latinoamericana.jpg);
                    }
                }
                .fotos-libros{
                    background-color: #F4EEFF;
                    width: 100%;
                    height: 110px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 30px;
                    color: #F4EEFF;

                }
            }

            a {
                @extend %a-categoria;

                .argentina {
                    background-image: linear-gradient(rgba(0, 0, 0, 0.200), rgba(0, 0, 0, 0.200)), url(../Multimedia/argentina.jpg);
                    background-size: 100% ;
                    background-repeat: no-repeat;
                    object-fit: contain;
                    background-position: center;
                    &:hover{
                        background-image: linear-gradient(rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.500)), url(../Multimedia/argentina.jpg);
                    }
                }
                .fotos-libros{
                    background-color: #F4EEFF;
                    width: 100%;
                    height: 110px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 30px;
                    color: #F4EEFF;

                }
            }

            a {
                width: 80%;
                text-decoration: none;
                display: flex;
                .filosofia {
                    background-image: linear-gradient(rgba(0, 0, 0, 0.200), rgba(0, 0, 0, 0.200)), url(../Multimedia/filo.jpg);
    background-size: 100% ;
    background-repeat: no-repeat;
    object-fit: contain;
    background-position:14% 25%;
                    &:hover{
                        background-image: linear-gradient(rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.500)), url(../Multimedia/filo.jpg);
                    }
                }
                .fotos-libros{
                    background-color: #F4EEFF;
                    width: 100%;
                    height: 110px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 30px;
                    color: #F4EEFF;

                }
            }

            a {
                width: 80%;
                text-decoration: none;
                display: flex;
                .idiomas{
                    background-image: linear-gradient(rgba(0, 0, 0, 0.200), rgba(0, 0, 0, 0.200)), url(../Multimedia/3xm0oiaj8pb71.webp);
                    background-size: 100% ;
                    background-repeat: no-repeat;
                    object-fit: contain;
                    background-position: center;
                    &:hover{
                        background-image: linear-gradient(rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.500)), url(../Multimedia/3xm0oiaj8pb71.webp);

                    }
                }
                .fotos-libros{
                    background-color: #F4EEFF;
                    width: 100%;
                    height: 110px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 30px;
                    color: #F4EEFF;

                }
            }

            a {
                width: 80%;
                text-decoration: none;
                display: flex;
                .comics {
                    background-image: linear-gradient(rgba(0, 0, 0, 0.200), rgba(0, 0, 0, 0.200)), url(../Multimedia/comics.jpg);
                    background-size: 100% ;
                    background-repeat: no-repeat;
                    object-fit: contain;
                    &:hover{
                        background-image: linear-gradient(rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.500)), url(../Multimedia/comics.jpg);
                    }
                }
                .fotos-libros{
                    width: 100%;
                    height: 110px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 30px;
                    color: #F4EEFF;

                }
            }

            a {
                width: 80%;
                text-decoration: none;
                display: flex;
                .manga {
                    background-image: linear-gradient(rgba(0, 0, 0, 0.200), rgba(0, 0, 0, 0.200)), url(../Multimedia/manga.jpg);
                    background-size: 100% ;
                    background-repeat: no-repeat;
                    object-fit: contain;
                    background-position: center;
                    &:hover{
                        background-image: linear-gradient(rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.500)), url(../Multimedia/manga.jpg);
                    }
                }

                }
                .fotos-libros{
                    width: 100%;
                    height: 110px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 30px;
                    color: #F4EEFF;

                }
            }
        }
    }
