.contacto {
    background-color: nth($colores, 1);
    width: 100%;
    height: auto;

    h1 {
        font-family: "lemonMilk";
        text-align: center;
        color: nth($colores, 3);
        font-size: 40px;
        margin-bottom: 30px;
        margin-top: 60px;
        padding-top: 100px;

        @media screen and (max-width:500px) {
            font-size: 30px;

        }
    }

    div {



        .mapa {
            iframe {
                @media screen and (max-width:500px) {
                    height: 280px;
                }
            }

        }

        .datos {

            .datos-generales {

                @media screen and (max-width:900px) {
                    display: flex;
                    justify-content: start;
                    align-items: flex-start;
                    flex-direction: column !important;

                }

                .icono-parrafo {

                    display: flex;
                    justify-content: center;
                    flex-direction: row;

                    ion-icon {
                        color: nth($colores, 3);
                    }

                    p {
                        font-family: "louisCafe";
                        padding-left: 10px;
                        margin-top: 5px;

                    }
                }
            }
        }


        div {
            .texto-area {
                resize: none;
            }
        }

        .enviar {
            width: auto;
            font-size: auto;
            background-color: nth($colores, 1);
            border: nth($colores, 3) 2px solid;
            color: nth($colores, 3);


            &:hover {
                background-color: nth($colores, 3);
                border-color: nth($colores, 3);
                color: nth($colores, 1);
            }
        }
    }

}