@import './listas';
@import './mixin';

@font-face {
    font-family: "lemonMilk";
    src: url('../fonts/LEMONMILK-Bold.otf');
}
@font-face {
    font-family: "louisCafe";
    src: url('../fonts/louisGeorgeCafeItalic.ttf');
}

@font-face {
    font-family: "louisCafel";
    src: url('../fonts/louisGeorgeCafeLight.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
        .grid-contenedor {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 0.3fr auto auto;
            grid-template-areas:
                "header header header"
                "main main main"
                "footer footer footer";
            .main-contenedor{
                grid-area: main;
                background-color: nth($colores, 1 );
                @include flex (flex,space-between,center);
                flex-direction: column;
            }
        }
    }

